<template>
  <div class="page">
    <gmap-map style="width: 100%; height: 100%; position: absolute; left:0; top:0"
      :center="center_position"
      :zoom="14"
      :mapTypeControl="false">

      <gmap-marker
        :key="index"
        :position="user_position"
        :icon="'pointer.png'"
        v-if="user_position">
      </gmap-marker>

      <gmap-marker
        :key="index"
        v-for="(marker, index) in markers"
        :position="marker.position"
        :clickable="true"
        :icon="marker.icon"
        @click="$store.dispatch('changeStation', marker.station_name)">
      </gmap-marker>

    </gmap-map>

    <div id="info">

      <div class="favorites">
        <i
          class="fa fa-location-arrow"
          aria-hidden="true"
          v-bind:class="{ selected: favorite.index == 0 }"
          v-if="user_position"
          @click="$store.dispatch('changeFavorite', 0)">
        </i>
        <i
          class="fa fa-ban"
          aria-hidden="true"
          v-else>
        </i>
        <i
          class="fa fa-circle"
          aria-hidden="true"
          v-for="(f, index) in favorite.items"
          v-bind:class="{ selected: favorite.index == index + 1 }"
          @click="$store.dispatch('changeFavorite', index + 1)">
        </i>
      </div>

      <div v-if="current_station">

        <h1 id="station">
          {{ current_station.name }}
        </h1>

        <h1 id="star">
          <i
            @click="$store.dispatch('toggleStation', current_station.name)"
            v-bind:class="{ selected: current_station.is_favorite }"
            class="fa fa-star"
            aria-hidden="true"></i>
        </h1>

        <div class="box-left">
          <h3>Vélos</h3>
          <h1
            id="velo"
            v-bind:class="{ low: current_station.bicycles <= 2 && current_station.bicycles > 0, none: current_station.bicycles == 0 }">
            {{ current_station.bicycles }}
          </h1>
        </div>

        <div class="box-right">
          <h3>Places</h3>
          <h1
            id="place"
            v-bind:class="{ low: current_station.free_places <= 2 && current_station.free_places > 0, none: current_station.free_places == 0 }">
            {{ current_station.free_places }}
          </h1>
        </div>
      </div>
      <div v-else>
        <h1 id="station">
          Chargements des données
        </h1>

        <h1 id="loading">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        </h1>
      </div>

      <div id="left" @click="$store.dispatch('previousStation')" v-bind:class="{ hide: isPreviousHidden }">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>

      <div id="right" @click="$store.dispatch('nextStation')" v-bind:class="{ hide: isNextHidden }">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  mounted () {
    this.$store.dispatch('loadBicycleServices');
    this.$store.dispatch('loadUserPosition');
    this.$store.dispatch('loadFavorites');
  },
  computed: {
    current_station() {
      return this.$store.state.current_station
    },
    favorite() {
      return this.$store.state.favorite
    },
    center_position() {
      return {lat: this.$store.state.center_position.lattitude, lng: this.$store.state.center_position.longitude}
    },
    user_position() {
      if (this.$store.state.user_position)
      {
        return {lat: this.$store.state.user_position.lattitude, lng: this.$store.state.user_position.longitude}
      }
      return null
    },
    isPreviousHidden() {
      if (this.$store.state.user_position)
      {
        return this.$store.state.favorite.index <= 0
      }
      else
      {
        return this.$store.state.favorite.index <= 1
      }
    },
    isNextHidden() {
      if (this.$store.state.user_position)
      {
        return this.$store.state.favorite.index == this.$store.state.favorite.items.length
      }
      else
      {
        return this.$store.state.favorite.index == this.$store.state.favorite.items.length || this.$store.state.favorite.items.length == 0
      }
    },
    markers() {
      let stations = this.$store.state.stations
      let markers = []

      for (let station_name in stations)
      {
        let station = stations[station_name]
        let icon = "marker.png"

        if (station.bicycles <= 2 || station.free_places <= 2)
        {
          icon = "marker-low.png"
        }

        if (station.bicycles == 0 || station.free_places == 0)
        {
          icon = "marker-none.png"
        }

        markers.push({
          position: {lat: station.position.lattitude, lng: station.position.longitude},
          icon: icon,
          station_name: station_name
        })
      }

      return markers
    }
  }
}
</script>

<style>

#star
{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#star .fa
{
  color: #efefef;
  cursor: pointer;
}

#star .fa.selected
{
  color: #84C416;
}

#loading
{
  color: #efefef;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#station
{
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 80%;
}

.favorites
{
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.favorites .fa
{
  color: #ddd;
  margin: 10px;
}

.favorites .fa:hover
{
  cursor: pointer;
}

.favorites .fa-location-arrow.selected
{
  color: #277AD0;
}

.fa.selected
{
  color: #84C416;
}

#left,
#right
{
  font-size: 2rem;
  position: absolute;
  top: 0;
  width: 10%;
  max-width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #84C416;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

#left.hide:hover,
#right.hide:hover
{
  background-color: transparent;
  cursor: default;
}

#left.hide,
#right.hide
{
  color: #efefef;
}


#left
{
  left: 0;
}

#right
{
  right: 0;
}

#left:hover
{
  background-color: #efefef;
  cursor: pointer;
}

#right:hover
{
  background-color: #efefef;
  cursor: pointer;
}


#left .fa,
#right .fa
{
  width: 100%;
}

#info {
  text-align: center;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
  background: white;
  border-bottom: 10px solid #84C416;
  display: block;
}

.box-right
{
 display: inline-block;
 width: calc(40%);
 max-width: 400px;
}

.box-left
{
 display: inline-block;
 width: calc(40%);
 max-width: 400px;
 border-right: 1px solid #efefef;
}

h1, h2, h3 {
 font-family: 'Lato', sans-serif;
 font-weight: 100;
}

h1
{
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1.low
{
  color: #bd630c;
}

h1.none
{
  color: #CA2020;
}

h2
{
  font-size: 1.6rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h3
{
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
</style>
