<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import Vue from 'vue'
import * as VueGoogleMaps from 'vue2-google-maps'

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyC5Rru7auIig6QdWC9iUwMKWVk8cbcwk7Y',
  }
})
</script>

<style>
body {
  margin: 0;
}
</style>
